
body{
    font-family: "Muli", "Trebuchet MS", "sans-serif";
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh; 
    position: relative; 
}

main{
    display: flex;
    width: 95vw;
}

h2{
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 25px;
    opacity: 0;
    
     
}

.flex-item{
  height: 80vh;
  border-radius: 70px;
  color: #fff;
  cursor: pointer;
  margin: 15px;
  width: 6vw;
  position: relative;
  transition: ease-in 1s;
}


.flex-item.stretcher-active{
    flex: 1;
}

.flex-item.stretcher-active h2{
    opacity: 1;
    transition: ease-in 1s; 
}